.search {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.search_input {
    max-width: 400px;
    width: 100%;
    color: #2b2b2b;
    background: rgb(248, 247, 247);
}

.search_btn_wrapper {
    display: flex;
    width: auto;
    height: 100%;
}

.search_btn {
    margin-left: 6px;
}
